<h5>Company</h5>
<ul class="list-unstyled">
	<li class="mb-2">
		<a href="/jobs/">
			<span class="username">Jobs</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/posts/">
			<span class="username">News & Post</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/about/">
			<span class="username">About Us</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/contact-us/">
			<span class="username">Contact Us</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/cookies_privacy/">
			<span class="username">Privacy policy</span>
		</a>
	</li>
	<li class="mb-2">
		<a href="/terms-of-use/">
			<span class="username">Terms of use</span>
		</a>
	</li>
</ul>
